<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info"
      internalLogFile="nlog-internal.log">

	<!-- Targets -->
	<targets>
		<!-- Envoi vers OpenTelemetry Collector -->
		<target xsi:type="OpenTelemetryProtocol"
				name="otlpTarget"
				endpoint="http://localhost:4318/v1/logs"
				protocol="http/protobuf"
				serviceName="TestAppVB"
				includeEventProperties="true"
				includeMdc="true"
				timeout="5000" />

		<!-- Écriture locale dans un fichier -->
		<target xsi:type="File"
				name="fileTarget"
				fileName="logs/TestAppVB.log"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=toString}" />
	</targets>

	<!-- Règles -->
	<rules>
		<!-- Toutes les logs vont à OTLP et au fichier local -->
		<logger name="*" minlevel="Debug" writeTo="otlpTarget,fileTarget" />
	</rules>
</nlog>